@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* common css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #112a46;
  --background: #d8f3dc;
}
a,
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}
button,
button:focus,
.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  
}
section{
  margin-top: 50px;
}